body {
    margin: 15px 15% 15px 15%;
}

.contact-card {
    display: block;
    float: left;
    color: black;
    width: auto;
    margin: 1%;
    background-color: #f5f5f3;
}

.addButton {
    margin-right: 5px;
}

.searchContact {
    width: 350px;
}

.newContact {
    margin-top: 10px;
    margin-bottom: 10px;
}

.myform {
    margin-bottom: 5px;
}

.list-contacts:hover {
    background-color: #000 !important; 
    color: #ffffff !important;
}