<div class="panel panel-default">
    <div class="panel-heading"
         style="font-size:large">Contact
        List
    </div>

    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="{{filterPlaceHolder}}" ng-change="searchForContact()" ng-model="filterString" >
        </div>
        <table class="table table-hover table-bordered">

            <thead>
                <tr>
                    <td>
                        <button type="button"
                                class="btn btn"
                                ng-click="toggleImage()">
                            {{showImage ? "Hide" : "Show"}} Image
                        </button>
                    </td>
                    <td>ID</td>
                    <td>First name</td>
                    <td>Last name</td>

                    <td>Email</td>
                    <td>Gender</td>
                    <td>Address</td>
                    <td>Birthday</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts">
                    <td>
                        <img ng-if="showImage"
                             ng-src="{{contact.image}}">
                    </td>
                    <td><a href="/#!contacts-list/{{contact.id}}"</a>{{ contact.id}}</td>
                    <td>{{ contact.first_name}}</td>
                    <td>{{ contact.last_name}}</td>
                    <td>{{ contact.email}}</td>
                    <td>{{ contact.gender}}</td>
                    <td>{{ contact.address}}</td>
                    <td>{{ contact.birthday}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>