<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">Contact
        List
    </div>

    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="{{filterPlaceHolder}}" ng-change="searchForContact()" ng-model="filterString" >
        </div>
        <table class="table table-primary table-hover table-bordered">

            <thead>
                <tr>
                    <td>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="toggleImage()">
                            {{showImage ? "Hide" : "Show"}} Image
                        </button>
                    </td>
                    <td><a href="#!contacts-list" ng-click="orderByField = 'id'; reverseSort = !reverseSort">
                            ID <span ng-show="orderByField == 'id'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a></td>
                    <td>
                        <a href="#!contacts-list" ng-click="orderByField = 'first_name'; reverseSort = !reverseSort">
                            First Name <span ng-show="orderByField == 'first_name'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a>
                    </td>
                    <td><a href="#!contacts-list" ng-click="orderByField = 'last_name'; reverseSort = !reverseSort">
                            Last Name <span ng-show="orderByField == 'last_name'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a></td>

                    <td><a href="#!contacts-list" ng-click="orderByField = 'email'; reverseSort = !reverseSort">
                            Email <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a></td>
                    <td><a href="#!contacts-list" ng-click="orderByField = 'gender'; reverseSort = !reverseSort">
                            Gender <span ng-show="orderByField == 'gender'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a></td>
                    <td><a href="#!contacts-list" ng-click="orderByField = 'address'; reverseSort = !reverseSort">
                            Address <span ng-show="orderByField == 'address'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a></td>
                    <td><a href="#!contacts-list" ng-click="orderByField = 'birthday'; reverseSort = !reverseSort">
                            Birthday <span ng-show="orderByField == 'birthday'"><span ng-show="!reverseSort"><b>></b></span><span ng-show="reverseSort"><b><</b></span></span>
                        </a></td>
                    <td>Delete contact</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts|orderBy:orderByField:reverseSort" ng-show="contact.hideContact">
                    <td>
                        <img ng-if="showImage"
                             ng-src="{{contact.image}}" height='138' width='145'>
                    </td>
                    <td><a href="/#!contacts-list/{{contact.id}}"</a>{{ contact.id}}</td>
                    <td>{{ contact.first_name}}</td>
                    <td>{{ contact.last_name}}</td>
                    <td>{{ contact.email}}</td>
                    <td>{{ contact.gender}}</td>
                    <td>{{ contact.address}}</td>
                    <td>{{ contact.birthday}}</td>
                    <td><a href="/#!contacts-list/{{contact.id}}/contactDetailsDelete"</a>Delete</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>