<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">Contact
        Pagination
    </div>

    <div class="panel-body">
        <table class="table table-primary table-hover table-bordered">
            <thead>
                <tr>
                    <td>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="toggleImage()">
                            {{showImage ? "Hide" : "Show"}} Image
                        </button>
                    </td>
                    <td>ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>

                    <td>Email</td>
                    <td>Gender</td>
                    <td>Address</td>
                    <td>Birthday</td>
                    <td>Delete contact</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in filteredContacts">
                    <td>
                        <img ng-if="showImage"
                             ng-src="{{contact.image}}" height='138' width='145'>
                    </td>
                    <td><a href="/#!contacts-list/{{contact.id}}"</a>{{ contact.id}}</td>
                    <td>{{ contact.first_name}}</td>
                    <td>{{ contact.last_name}}</td>
                    <td>{{ contact.email}}</td>
                    <td>{{ contact.gender}}</td>
                    <td>{{ contact.address}}</td>
                    <td>{{ contact.birthday}}</td>
                    <td><a href="/#!contacts-list/{{contact.id}}/contactDetailsDelete"</a>Delete</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" force-ellipses="true" boundary-links="true" items-per-page="numPerPage"></ul>
    </div>
</div>