<form name="contactForm">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">
            {{title}}
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="row myform">
                        <div class="form-group">
                            <div class="col-md-2"><label for="contact-id">ID:</label></div>
                            <div class="col-md-6"><input type="text" id="contact-id" class="form-control" ng-model="contact.id" ng-readonly="enableForm.contactId" ng-disabled="enableForm.contactId"></div>
                        </div>
                    </div>
                    <div class="row myform">
                        <div class="form-group">
                            <div class="col-md-2"><label for="contact-first-name">First Name:</label></div>
                            <div class="col-md-6"><input type="text" id="contact-first-name" class="form-control" ng-model="contact.first_name" ng-readonly="enableForm.contactFirstName" required></div>
                        </div>
                    </div>
                    <div class="row myform">
                        <div class="form-group">
                            <div class="col-md-2"><label for="contact-last-name">Last Name:</label></div>
                            <div class="col-md-6"><input type="text" id="contact-last-name" class="form-control" ng-model="contact.last_name" ng-readonly="enableForm.contactLastName" required></div>
                        </div>
                    </div>
                    <div class="row myform">
                        <div class="form-group">
                            <div class="col-md-2"><label for="contact-email">Email:</label></div>
                            <div class="col-md-6"><input type="email" id="contact-email" class="form-control" ng-model="contact.email" ng-readonly="enableForm.contactEmail"></div>
                        </div>
                    </div>
                    <div class="row myform">
                        <div class="form-group">
                            <div class="col-md-2"><label for="contact-gender">Gender:</label></div>
                            <div class="col-md-6"><input type="text" id="contact-gender" class="form-control" ng-model="contact.gender" ng-readonly="enableForm.contactGender"></div>
                        </div>
                    </div>
                    <div class="row myform">
                        <div class="form-group">
                            <div class="col-md-2"><label for="contact-address">Address:</label></div>
                            <div class="col-md-6"><input type="text" id="contact-address" class="form-control" ng-model="contact.address" ng-readonly="enableForm.contactAddress"></div>
                        </div>
                    </div>
                    <div class="row myform">
                        <div class="form-group">
                            <label class="col-md-2 control-label"
                                   for="contact-birthday">Birthday:</label>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control"
                                           id="contact-birthday"
                                           type="text"
                                           uib-datepicker-popup="{{format}}"
                                           is-open="isOpen"
                                           ui-date
                                           ng-model="contact.birthday" ng-readonly="enableForm.contactBirthDay" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="openCalendar($event)"
                                                ng-disabled="enableForm.contactBirthDay">
                                            <i class="glyphicon glyphicon-calendar" ></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="center-block img-responsive"
                         ng-src="{{contact.image}}"
                         title="Contact Image"
                         height='138' width='145'>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a class="btn btn-primary"
               href="#!contacts-list">
                <I class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
            <a class="btn btn-primary" ng-if="enableForm.action === 'edit'"
               href="/#!contacts-list/{{contact.id}}/contactDetailsEdit"
               style="width:80px;margin-left:10px">
                Edit
            </a>
            <button type="submit" class="btn btn-primary" ng-if="enableForm.action === 'save'"
                    ng-click="contactForm.$valid && saveContact($event)"
                    style="width:80px;margin-left:10px">
                Save
            </button>
            <button type="submit" class="btn btn-primary" ng-if="enableForm.action === 'create'"
                    ng-click="contactForm.$valid && createContact($event)"
                    style="width:80px;margin-left:10px">
                Create
            </button>
            <button type="submit" class="btn btn-primary" ng-if="enableForm.action === 'delete'"
                    ng-click="contactForm.$valid && deleteContact($event)"
                    style="width:80px;margin-left:10px">
                Delete
            </button>
        </div>
    </div>
</form>